<h1 class="display-3">Conócenos</h1>

<div class="contenedor">
  <div class="cartas-deck">
    <div class="carta">
      <img src="../src/assets/marvin.jpg" class="imagen" loading="lazy" alt="Card Image" />
      <div class="cuerpo-carta">
        <h5 class="titulo-carta"><strong>Mónica Muñoz DonJuan</strong></h5>
        <p class="descripcion">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
          similique commodi, rerum quo delectus autem porro aliquid quae cum
          voluptatem aliquam officiis illo eaque, a asperiores dolor doloribus
          et. Doloremque!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="contenedor-2">
  <div class="cartas-deck-2">
    <div class="carta-2-1">
      <img src="../src/assets/victor.jpg" class="imagen" loading="lazy" alt="Card Image" />
      <div class="cuerpo-carta">
        <h5 class="titulo-carta"><strong>Victor Rodriguez Marquez</strong></h5>
        <p class="descripcion">
          Estudiante de séptimo cuatrimestre de la carrera Tecnologías de la información
        </p>
      </div>
    </div>
  </div>
  <div class="cartas-deck-2">
    <div class="carta-2">
      <img src="../src/assets/marvin.jpg" class="imagen" loading="lazy" alt="Card Image" />
      <div class="cuerpo-carta">
        <h5 class="titulo-carta"><strong>Marvin Vazquez Vazquez</strong></h5>
        <p class="descripcion">
          El criko is my passion
        </p>
      </div>
    </div>
  </div>
</div>

<div class="contenedor-3">
  <div class="cartas-deck-3">
    <div class="carta-2-1">
      <img src="../src/assets/david.jpeg" class="imagen" loading="lazy" alt="Card Image" />
      <div class="cuerpo-carta">
        <h5 class="titulo-carta"><strong>David Ruiz López</strong></h5>
        <p class="descripcion">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
          similique commodi, rerum quo delectus autem porro aliquid quae cum
          voluptatem aliquam officiis illo eaque, a asperiores dolor doloribus
          et. Doloremque!
        </p>
      </div>
    </div>
  </div>
  <div class="cartas-deck-3">
    <div class="carta-2">
      <img src="../src/assets/marvin.jpg" class="imagen" loading="lazy" alt="Card Image" />
      <div class="cuerpo-carta">
        <h5 class="titulo-carta"><strong>Mauricio Augusto Sousa Rojas</strong></h5>
        <p class="descripcion">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
          similique commodi, rerum quo delectus autem porro aliquid quae cum
          voluptatem aliquam officiis illo eaque, a asperiores dolor doloribus
          et. Doloremque!
        </p>
      </div>
    </div>
  </div>
  <div class="cartas-deck-3">
    <div class="carta-2">
      <img src="../src/assets/marvin.jpg" class="imagen" loading="lazy" alt="Card Image" />
      <div class="cuerpo-carta">
        <h5 class="titulo-carta"><strong>Ángel Yair Lugo Peñaloza</strong></h5>
        <p class="descripcion">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
          similique commodi, rerum quo delectus autem porro aliquid quae cum
          voluptatem aliquam officiis illo eaque, a asperiores dolor doloribus
          et. Doloremque!
        </p>
      </div>
    </div>
  </div>
</div>
