<h1 class="display-3">Conócenos</h1>

<div class="contenedor">
  <div class="cartas-deck">
    <div class="carta">
      <img
        src="../src/assets/Monica.jpg"
        class="imagen"
        loading="lazy"
        alt="Card Image"
      />
      <div class="cuerpo-carta">
        <h5 class="titulo-carta"><strong>Mónica Muñoz DonJuan</strong></h5>
        <p class="descripcion">
          Licenciada en informática administrativa, cuenta con una maestría en
          administración de negocios. Cuenta con mas de 20 años trabajando como
          docente. Cuenta con conocimiento de diversas areas de la programación,
          desde desarrollo de aplicaciones web con PHP, Java, C# hasta
          desarrollo de aplicaciones móviles utilizando herramientas como
          AppInventor, Xamarin, entre otros.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="contenedor-2">
  <div class="cartas-deck-2">
    <div class="carta-2-1">
      <img
        src="../src/assets/victor.jpg"
        class="imagen"
        loading="lazy"
        alt="Card Image"
      />
      <div class="cuerpo-carta">
        <h5 class="titulo-carta"><strong>Victor Rodriguez Marquez</strong></h5>
        <p class="descripcion">
          Estudiante de séptimo cuatrimestre de la carrera Tecnologías de la
          información, apasionado por el desarrollo web y el desarrollo de
          software. Ha participado en proyectos de desarrollo de aplicaciones móviles y aplicaciones web.
        </p>
      </div>
    </div>
  </div>
  <div class="cartas-deck-2">
    <div class="carta-2">
      <img
        src="../src/assets/marvin.jpg"
        class="imagen"
        loading="lazy"
        alt="Card Image"
      />
      <div class="cuerpo-carta">
        <h5 class="titulo-carta"><strong>Marvin Vazquez Vazquez</strong></h5>
        <p class="descripcion">Estudiante de séptimo cuatrimestre de la carrera Ingeniería en telemática y sistemas de seguridad, apasionado por el desarrollo de redes de datos. Ha participado en proyectos de desarrollo de aplicaciones móviles y aplicaciones web.                             </p>
      </div>
    </div>
  </div>
</div>

<div class="contenedor-3">
  <div class="cartas-deck-3">
    <div class="carta-2-1">
      <img
        src="../src/assets/david.jpeg"
        class="imagen"
        loading="lazy"
        alt="Card Image"
      />
      <div class="cuerpo-carta">
        <h5 class="titulo-carta"><strong>David Ruiz López</strong></h5>
        <p class="descripcion">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
          similique commodi, rerum quo delectus autem porro aliquid quae cum
          voluptatem aliquam officiis illo eaque, a asperiores dolor doloribus
          et. Doloremque!
        </p>
      </div>
    </div>
  </div>
  <div class="cartas-deck-3">
    <div class="carta-2">
      <img
        src="../src/assets/marvin.jpg"
        class="imagen"
        loading="lazy"
        alt="Card Image"
      />
      <div class="cuerpo-carta">
        <h6 class="titulo-carta">
          <strong>Mauricio Augusto Sousa Rojas</strong>
        </h6>
        <p class="descripcion">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
          similique commodi, rerum quo delectus autem porro aliquid quae cum
          voluptatem aliquam officiis illo eaque, a asperiores dolor doloribus
          et. Doloremque!
        </p>
      </div>
    </div>
  </div>
  <div class="cartas-deck-3">
    <div class="carta-2">
      <img
        src="../src/assets/marvin.jpg"
        class="imagen"
        loading="lazy"
        alt="Card Image"
      />
      <div class="cuerpo-carta">
        <h5 class="titulo-carta"><strong>Ángel Yair Lugo Peñaloza</strong></h5>
        <p class="descripcion">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
          similique commodi, rerum quo delectus autem porro aliquid quae cum
          voluptatem aliquam officiis illo eaque, a asperiores dolor doloribus
          et. Doloremque!
        </p>
      </div>
    </div>
  </div>
</div>
