<div class="container">
  <h1 class="display-4">¿Cómo hacer un webinar?</h1>
  <p class="h4">
    Empecemos por la pregunta <strong>¿Qué es un webinar?</strong>
  </p>
  <p class="text-justify font-weight-light">
    Webinar es un neologismo que resulta de las palabras web y seminario.<br />
    En pocas palabras, un webinar es un seminario online en video.<br />
    El webinar puede ser en vivo o en un video pregrabado. De cualquier forma
    puede haber interacciones con la gente a través de un chat. Puede ser
    gratuito o con alguún costo.<br />
    <br />

    Hay diferentes medios digitales en los que uno puede hacer un webinar, los
    más conocidos son los siguientes:
  </p>

  <div class="lista-1">
    <ul class="list-group">
      <li>YouTube</li>
      <li>Zoom</li>
      <li>Google Meet</li>
    </ul>
    <div class="imagenes">
      <img
        class="imagenes-1"
        src="../assets/yt.png"
        alt="YouTube"
        width="150"
        height="240"
      />
      <img
        class="imagenes-2"
        src="../assets/zoom.png"
        alt="Zoom"
        width="150"
        height="110"
      />
      <img
        class="imagenes-3"
        src="../assets/meet.png"
        alt="Meet"
        width="150"
        height="110"
      />
    </div>
  </div>

  <p class="h4">
    <strong>Un webinar tiene por objetivo los siguientes puntos:</strong>
  </p>

  <div class="lista-1">
    <ul class="list-group">
      <li>Ser de propósito educativo</li>
      <li>Generar marketing para un producto o servicio</li>
    </ul>
  </div>

  <p class="text-justify" id="alcance">
    Ya estás más cerca de tener un webinar exitoso, pero,
    <strong>¿qué hay de los problemas que puedes encontrar?</strong> Aquí te
    dejamos algunos problemas con los que te podrías encontrar en el proceso de
    realizar un webinar exitoso.
  </p>

  <p class="h4">
    <strong>Desafíos para realizar un webinar</strong>
  </p>

  <div class="lista-1">
    <ul class="list-group">
      <li class="list-3-items">Definir el tema</li>
      <li class="list-3-items">Definir el público objetivo</li>
      <li class="list-3-items">Invitar presentadores</li>
      <li class="list-3-items">
        Montar una landing page para promocionar el webinar
      </li>
      <li class="list-3-items">Tener una buena planeación del proyecto</li>
      <li class="list-3-items">
        Generar la invitación para que entren los participantes
      </li>
      <li class="list-3-items">
        Tener conocimiento básico de los programas que se usarán
      </li>
    </ul>
  </div>

  <p class="text-justify font-weight-light">
    Los puntos anteriores pueden ser difíciles al principio, pero con
    organización y trabajo en equipo lo puedes lograr, ¡ánimo, tú puedes! Para
    lograr esto, sigue nuestros consejos que tenemos para ti.
  </p>

  <p class="h4">
    <strong>Consejos para realizar un webinar perfecto</strong>
  </p>

  <p class="consejos">
    <strong>1. Atractivo visual</strong><br>
    <span class="consejos-span"> Un webinar debe ser atractivo para tener toda la atención posible de la
    gente, si pierdes la atención de la gente pierdes el alcance que puede
    llegar a tener el webinar.</span><br><br>
    <strong> 2. Contenido impactante</strong><br>
    <span class="consejos-span">
      El contenido que presentes debe ser impresionante para poder captar la atención del público al que va dirigido el webinar.
    </span><br><br>
    <strong>3. Usa imágenes</strong><br>
    <span class="consejos-span">
      Usar imágenes es tu mejor aliado, esto ayuda a que el público no se aburra y obtengas toda la atención posible.
    </span><br><br>
    <strong>3. Usa imágenes</strong> 
    <span class="consejos-span">
      Usar imágenes es tu mejor aliado, esto ayuda a que el público no se aburra y obtengas toda la atención posible.
    </span>
  </p>

  <div class="wrapper">

    <h3><strong>Demo</strong></h3>
    <h6><strong>No utilices información sensible</strong></h6>
    <form id="contactForm">
      <p class="p-form">
        <label>Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre" autocomplete="off">
      </p>
      <p class="p-form">
        <label>Apellido</label>
        <input type="text" name="apellido" id="apellido" placeholder="Ingresa tu apellido" autocomplete="off">
      </p>
      <p class="p-form">
        <label>Correo Electrónico</label>
        <input type="email" name="correo" id="correo" placeholder="Ingresa tu correo" autocomplete="off">
      </p>
      <p>
        <button class="btn btn-primary btn-block" type="submit" id="btnClick">Enviar</button>
      </p>
    </form>
  </div>


</div>
