<div class="container">
    <h1 class="display-4" >¿Cómo hacer un webinar?</h1>
    <p class="h4">
        Empecemos por la pregunta <strong>¿Qué es un webinar?</strong>
    </p>
    <p class="text-justify font-weight-light">
        Webinar es un neologismo que resulta de las palabras web y seminario.<br>
        En pocas palabras, un webinar es un seminario online en video.<br>
        El webinar puede ser en vivo o en un video pregrabado. De cualquier forma
        puede haber interacciones con la gente a través de un chat. Puede ser gratuito o con alguún costo.<br> <br>
        
        Hay diferentes medios digitales en los que uno puede hacer un webinar, los más conocidos son los siguientes:
    </p>

    <div class="lista-1">
        <ul class="list-group">
            <li>YouTube</li>
            <li>Zoom</li>
            <li>Google Meet</li>
        </ul>
    </div>

    <p class="h4">
        <strong>Un webinar tiene por objetivo los siguientes puntos:</strong>
    </p>
    
    <div class="lista-1">
        <ul class="list-group">
            <li>Ser de propósito educativo</li>
            <li>Generar marketing para un producto o servicio</li>
        </ul>

    </div>

    <p class="text-justify font-weight-light" id="alcance">
        Para que tenga un gran atractivo para el público y tenga un mayor
        alcance sigue nuestros consejos que ponemos a tu disposición.
    </p>
    
    <p class="h4">
        <strong>Consejos para realizar un webinar perfecto</strong>
    </p>

    <div class="lista-1">
        <ol class="list-group">
            <li>Define el tema</li>
            <li>Define el público objetivo</li>
            <li>Invita presentadores</li>
            <li>Monta una landing page para promocionar el webinar</li>
            <li>Ten una buena planeación del proyecto</li>
            <li>Genera la invitación para que entren los participantes</li>
            <li>Ten conocimiento básico de los programas que se usarán</li>
        </ol>

    </div>

</div> 
