
body{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); 
    background-repeat: no-repeat ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

    .boton{

        text-align: center;
        display: inline-block;
        margin-top: 100px;
        text-decoration: none;
        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
        color: rgb(156, 127, 127);
        padding: 22px 30px;
        border-radius: 40px;
        font-size: 18px;
       }

.animated, font{
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes bounce{
    0%, 30%, 60%, 90%, 110% {transform: translateY(0);}
    40%{ transform: translateY(19px);}
    60%{ transform: translateY(-28px);}
}

.animated, font {
    animation-name: bounce;
}

.centrado{
    margin-left: auto;
    margin-right: auto;
  }
 
  h1{
      font-size: 7rem;
      transition: transform .2s; /* Animation */
  }
  
 



