html, body {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

h1 {
    /*color: red;*/
    margin-top: 80px;
}

p {
    font-size: 20px;
    margin-top: 35px;
    width: 70%;
    /*border: solid pink;*/
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 50%;
}

.lista-1 {
    width: 65%;
    font-size: 18px;
}

.list-3-items {
    list-style-type: circle;
    margin-bottom: 1px;
}

.lista-4 {
    margin: 5px;
    width: 110%;
}

li {
    margin-bottom: 2px;
}

.imagenes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: none;
}

.imagenes-1 {
   width: 25%;
   height: 15%;
}

.lista-1 {
    /* border: solid pink; */
    margin-top: 5px;
}

.consejos {
    /* border: solid blue; */
    margin-top: 3px;
}

@media (max-width: 768px) {

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 105%;
    }

    button {
        height: 35px;
        width: 100px;
        text-align: center;
    }

    h1 {
        font-size: 35px!important;
        text-align: center;
    }

    ul, ol {
        margin: 10px 10px;
    }

    .imagenes {
        /* border: solid red; */
        height: 380px;
        margin-top: 10px;
    }
    
    .imagenes-1 {
        /* border: solid red; */
        margin-right: 10px;
        height: 140px;
    }

    .imagenes-2 {
        /* border: solid blue; */
        margin-right: 10px;
        width: 70%;
        height: 115px;
    }

    .imagenes-3 {
        /* border: solid pink; */
        margin-top: 20px;
        width: 70%;
        height: 100px;
    }
}