* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    margin-left: 5rem;
}

.contenedor {
    height: 30rem;
    margin: 5% 10% 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid blue; */
    height: 100%;
    padding-right: 50px;
    margin-top: 35px;
}

.contenedor-2 {
    height: 30rem;
    display: flex;
    justify-content: space-between!important;
    align-items: center;
    width: 90rem;
    margin-left: 20%;
    flex-direction: row;
    margin-top: 5rem;
    /* border: solid blue; */
    padding: 0 5px;
}

.cuerpo-carta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: solid green; */
}

.contenedor-3 {
    height: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    /* margin-left: 15%; */
    flex-direction: row;
    padding-left: 200px;
    margin-top: 5rem;
    /* border: solid green; */
    height: auto;
}

.cartas-deck-3 {
    padding: 10px;
}

.carta {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: transform .2s;
    /* Animation */
    /* border: solid blue; */
}

.carta-2-1, .carta-2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    transition: transform .2s;
    /* Animation */
    /* border: solid blue; */
}

.carta:hover, .carta-2-1:hover, .carta-2:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.imagen {
    border-radius: 150px;
    height: 15rem;
    width: 15rem;
}

.cartas-deck {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-left: 15%;
}

.titulo-carta {
    display: flex;
    justify-content: center;
    /* width: 80%; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.descripcion {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    text-align: justify;
}

h6 {
    font-size: 18.5px;
}

@media (max-width: 800px) {
    .display-3 {
        margin-top: 100px;
        margin-left: 2rem;
    }
    .contenedor {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* width: auto; */
        margin-top: 2rem;
        height: auto;
        width: 280px;
        /* border: solid green 1px; */
        /* margin-left: 6rem; */
        padding-left: 120px;
    }
    .contenedor-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        flex-direction: column;
        width: 280px;
        margin-left: 5rem;
        /* margin-top: -5rem; */
        /* border: solid green 1px; */
        padding-right: 50px;
    }
    .contenedor-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        flex-direction: column;
        width: 200px!important;
        /* margin-right: 5rem; */
        /* margin-bottom: 10px;  */
        /* margin-top: -15rem; */
        /* border: solid green 1px; */
        padding-right: 300px;
        /* padding-left: 100px; */
    }
    .cartas-deck {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .cartas-deck-2 {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .carta {
        width: 15rem;
    }
    .carta-2 {
        width: 15rem;
        margin-top: 10px;
    }
    .carta-2-1 {
        /* margin-bottom: 50px; */
        width: 15rem;
    }
    .carta:hover, .carta-2:hover, .carta-2-1:hover {
        transform: scale(1);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    .imagen {
        border-radius: 150px;
        height: 15rem;
        width: 15rem;
        margin-bottom: 10px;
    }
    h5 {
        margin-bottom: 10px;
        font-size: 18px;
        width: 20rem;
    }
    .titulo-carta {
        display: flex;
        justify-content: center;
    }
}